/*************************************************************
  style.css

  Written by James Cowley, Term 1 2026
  gtnGame.html Styling
*************************************************************/
/*------------------------------------------------------------
  Custom Font Implementation
/*----------------------------------------------------------*/

@font-face {
    font-family: customFont;
    src: url('../../../../assets/customFont.ttf') format('truetype');
    font-display: swap;
  }
  
  /*------------------------------------------------------------
    Body Styling
  /*----------------------------------------------------------*/
  body {
    font-family: customFont;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn 4s forwards;
    user-select: none;
    scale: 0.95;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*------------------------------------------------------------
    Title Styling
  /*----------------------------------------------------------*/
  
  #mainTitle {
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    font-size: 50px;
    animation: mainTitleAnimationLoop 2s ease-in-out infinite alternate;
  }
  
  /*------------------------------------------------------------
    Button Styling
  /*----------------------------------------------------------*/
  
  button {
    font-family: customFont;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }
  
  /*------------------------------------------------------------
    Input Styling
  /*----------------------------------------------------------*/
  
  input {
    font-family: customFont;
    border-radius: 5px;
    transition: color 0.3s;
    margin: 5px 0;
    height: 25px;
    width: 200px;
    text-align: center;
    border: 0.5px solid lightgray;
    text-indent: 5px;
  }
  
  /*------------------------------------------------------------
    Button Hover Styling
  /*----------------------------------------------------------*/
  
  button:hover {
    background-color: rgb(224, 224, 224);
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.9);
  }

  /*------------------------------------------------------------
    Profile Images Container
  /*----------------------------------------------------------*/
  
  #profileImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /*------------------------------------------------------------
    Profile Image Styling
  /*----------------------------------------------------------*/
  
  .profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  /*------------------------------------------------------------
    Player Container Styling
  /*----------------------------------------------------------*/
  
  .playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*------------------------------------------------------------
    Player Name Styling
  /*----------------------------------------------------------*/
  
  .playerName {
    font-size: 24px;
  }

  /*------------------------------------------------------------
    Game Buttons Styling
  /*----------------------------------------------------------*/

  #gameButtons {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /*------------------------------------------------------------
    Fade In Animation Styling
  /*----------------------------------------------------------*/
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes mainTitleAnimationLoop {
    from {
      scale: 0.98;
    }
    to {
      scale: 1;
    }
  }